<div class="head1">
        <div class="title1">
            <h3><a href="/products">Products</a></h3>
            <div class="line1"></div>
            <h3>Categories</h3>
        </div>
</div>

<div>
    <h4>New Category</h4>
    <form action="" method="">
        <label for="">Name</label>
        <input type="text">
        <button type="submit">Create</button>
    </form>
</div>

<div>
    <h4>Existing Categories</h4>
    <div>
        @* @foreach (var item in collection)
        { *@
            <a href=""></a>
        @* } *@
    </div>
</div>