
<h3>Household</h3>

<div>

    <div>
        <h4>Products:</h4>
        @* @foreach()
        { *@
            <p></p>
        @* } *@
    </div>

    <div>
        <h6>Add Product:</h6>
        <form action="">
        <select name="" id="">
            @* @foreach()
            { *@
                <option value=""></option>
            @* } *@
        </select>
        <button type="sumbit" class="btn btn-outline-dark">Add</button>
        </form>
    </div>

</div>